special-vendored-path/* linguist-vendored
Applications/webserver/style/build/* linguist-vendored=false
Applications/webserver/style/css/* linguist-vendored=false
Applications/webserver/style/fonts/* linguist-vendored=false
