.yui3-widget-hidden {
	display: none
}
.yui3-widget-content {
	overflow: hidden
}
.yui3-widget-content-expanded {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%
}
.yui3-widget-tmp-forcesize {
	overflow: hidden !important
}
#yui3-css-stamp.skin-sam-widget-base {
	display: none
}
.tree-view {
	overflow: auto
}
.tree-view ul {
	list-style: none;
	padding-left: 0
}
.tree-view-content {
	margin: 0
}
.tree-container {
	margin: 0 0 0 20px
}
.tree-node-content {
	display: inline
}
.tree-node-content .tree-hitarea {
	cursor: pointer;
	margin-right: 3px;
	outline-width: thin
}
.tree-node-content .tree-hitarea.tree-node-hidden-hitarea {
	background: 0;
	cursor: default
}
.tree-label {
	cursor: pointer;
	line-height: 19px;
	margin-left: 5px
}
.tree-node .yui3-dd-draggable, .tree-node .yui3-dd-draggable .tree-label {
	cursor: pointer
}
.tree-node-leaf {
	margin-left: 15px
}
.tree-node-selected .tree-label {
	background: #eee
}
.tree-file i {
	cursor: move
}
.tree-node-checkbox-container {
	-ms-filter: "alpha(opacity=25)";
	filter: alpha(opacity=25);
	opacity: .25;
	margin-left: 5px
}
.tree-node-checked .tree-node-checkbox-container {
	-ms-filter: "alpha(opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1
}
.tree-node .tree-node-checkbox-container {
	cursor: pointer
}
.tree-node-child-unchecked .tree-node-checkbox-container {
	-ms-filter: "alpha(opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6
}
.tree-drag-insert-above {
	border-top: 1px dotted #555
}
.tree-drag-insert-below {
	border-bottom: 1px dotted #555
}
.tree-drag-insert-append .tree-label {
	background: #eee;
	border: 1px dotted #555
}
.tree-drag-helper {
	line-height: 18px;
	min-width: 100px;
	position: absolute
}
.tree-drag-helper-content {
	background: #fff;
	border: 1px solid #aaa;
	margin: 20px 0 0 60px;
	padding: 2px 10px 0 6px;
	-ms-filter: "alpha(opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9
}
.tree-drag-helper-label {
	float: left;
	font-size: 12px;
	padding-left: 2px
}
.tree-node-paginator {
	margin-left: 18px
}
#yui3-css-stamp.skin-sam-aui-tree-view {
	display: none
}
#iyov {
	width: 95%;
    padding: 34px;
    margin: auto;
}
#iyov-tree {
	float: left;
    width: 30%;
    overflow: hidden;
    background-color: #eee;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#iyov-tree > select {
	width: 100px
}
#iyov-content {
	float: right;
    width: 68%;
    background-color: #dcedf5;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
#iyov-content > pre {
	width: 98%;
	/*font-size: 12px;*/
    /*background-color: ghostwhite;*/
    /*border: none;*/
    /*visibility: hidden;*/
}
#iyov-content > pre[class="not-empty"] {
	/*height: 350px;*/
	width: 98%;
	/*visibility: visible;*/
}
.item-content {
	margin-bottom: 0px;
    margin-left: 20px;
    font-size: 12px;
}
.item-title {
	font-family: monospace;
	font-weight: bold;
}